.card {
    width: 200px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 10px;
}

.card img {
    width: 150px;
}

.app {
    display: flex;
    padding: 20px;
    margin: 20px;
    gap: 20px;
}